.triangle {
  position: absolute;
  width: 100%;
  transform: translateY(-100%);  

  &_fill {
    &_white {
      fill: $white;
    }
    &_lgreen {
      fill: $lgreen;
    }

    &_lightwhite {
      fill: $lightwhite;
    }
  }
}

.triangle__svg {
  display: block;
  fill: currentColor;
}

.siteBody__tringle {
  position: absolute;
  top:0;
  transform: translateY(-100%);width:100%;
}