.siteBody__tringle {
  pointer-events: none;
  & svg {
    fill : #faf8f0;
  }
}

[name="showContent__ASdarqw"] {
  display: none;
}

.siteBody {
  background: #faf8f0;
  position: relative;
  min-height: 100%;
  margin-bottom: -$footerheight;
  padding-bottom: $footerheight;
}

.blog__content > * {
  display: none;
}

input#Content1_AasdFgs:checked ~ .siteBody__blog .blog__contentContainer1 {
  display: block;
}

input#Content2_AasdFgs:checked ~ .siteBody__blog .blog__contentContainer2 {
  display: block;
}

input#Content3_AasdFgs:checked ~ .siteBody__blog .blog__contentContainer3 {
  display: block;
}

input#Content4_AasdFgs:checked ~ .siteBody__blog .blog__contentContainer4 {
  display: block;
}

input#Content5_AasdFgs:checked ~ .siteBody__blog .blog__contentContainer5 {
  display: block;
}

.siteBody__blog {
  display: flex;
}

.blog__switchers {
  width:280px;
  padding: 10px;
  margin-right: 50px;
  text-align: right;
  box-sizing: border-box;

  & label {
    display: block;
    padding: 10px;
    margin:16px 0;
    border-right:2px solid transparent;
  }
}

input#Content1_AasdFgs:checked ~ .siteBody__blog label:nth-of-type(1),
input#Content2_AasdFgs:checked ~ .siteBody__blog label:nth-of-type(2),
input#Content3_AasdFgs:checked ~ .siteBody__blog label:nth-of-type(3),
input#Content4_AasdFgs:checked ~ .siteBody__blog label:nth-of-type(4),
input#Content5_AasdFgs:checked ~ .siteBody__blog label:nth-of-type(5) {
  color:#4e8839;
  border-right:2px solid currentColor;
}

.blog__content {
  width:640px;
  padding: 10px;
  padding-right: 110px;
  margin-left: 50px;
  box-sizing: border-box;
}

.siteBody__content {
  color:#566358;
    font-size: 16px;
    font-family: 'Roboto';
    margin:0 auto;
    width:1200px;

  h3 {
    font-family: 'SansusWebissimo';
    font-size: 35px;
    padding: 32px 0 8px;
  }

  p {
    line-height: 1.6em;
  }
  label {
    font:inherit;
    color:inherit;
    line-height: 1.4em;
    font-size: 14px;
  }
  stime {
    color:#4e8839;
    display: block;
    padding: 8px 0 24px;
  }
}

.blog__article {
  border-bottom: 4px solid #ecebe4;
  padding-bottom: 40px;

  &:nth-last-of-type(1) {
    border-bottom: 4px solid transparent;
  }
}

.code {
  display: table;
  margin-top: 40px;
  background: #f5f2f0;
  width:100%;

  & .codeRow {
    display: table-row;

    & .code__stringNumber {
      display: table-cell;
      padding: 4px 12px 4px 0px;
      width: 5ex;
      background: #e7e5e3;
      text-align: right;
    }
    & .code__string {
      display: table-cell;
    }
  }
}
