.wrapper-portfolio {
  display: flex;
  flex-flow: row wrap;
}

.portfolio {
  margin: 0 auto;
  padding: 20px 0;
}

.portfolio-title {
  background: url('../img/works_header.png') no-repeat center center;
}



