.arrow-down {
    width: 26px;
    height: 16px;
}

.arrow-down__pic {
    display: block;
    width: 100%;
    height: 100%;
    fill: #fff;
    opacity: .7;
}

.github {
    width: 26px;
    height: 22px;
}

.github__pic {
    display: block;
    width: 100%;
    height: 100%;
    fill: #fff;
    opacity: .7;
}

.in {
    width: 24px;
    height: 22px;
}

.in__pic {
    display: block;
    width: 100%;
    height: 100%;
    fill: #fff;
    opacity: .7;
}

.vk {
    width: 31px;
    height: 17px;
}

.vk__pic {
    display: block;
    width: 100%;
    height: 100%;
    fill: #fff;
    opacity: .7;
}

.skype {
    width: 24px;
    height: 24px;
}

.skype__pic {
    display: block;
    width: 100%;
    height: 100%;
    fill: #fff;
    opacity: .7;
}

.phone2 {
    width: 17px;
    height: 20px;
}

.phone2__pic {
    display: block;
    width: 100%;
    height: 100%;
    fill: #fff;
    opacity: .7;
}

.map-marker {
    width: 16px;
    height: 21px;
}

.map-marker__pic {
    display: block;
    width: 100%;
    height: 100%;
    fill: #fff;
    opacity: .7;
}