main.siteBody
  div.siteBody__tringle
    svg(viewBox="0 0 1800 160" xmlns="http://www.w3.org/2000/svg" preserveaspectratio="none" class="triangle")
      //-polygon.siteBody__tringle-left(points="0,0 0,160 900,160")
      //-polygon.siteBody__tringle-right(points="1800,0 1800,160 900,160")
      polygon.siteBody__tringle-left(points="0,0 0,160 900.8,161 900,157")
      polygon.siteBody__tringle-right(points="1800,0 1800,160 900.8,161 900,157")

  

